*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "shoulder";
    src: url(/asset/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
  }
html, body{
    height: 100%;
    width: 100%;
}
.contanier{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 2vh; */
    overflow-x: hidden;
}
.top-section{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid black; */
    background: linear-gradient(white,#60819c,#2e506c, #22415b);
}
.top-section h1{
    width: 90% ;
    text-align: center;
    font-size: 3rem;
    font-family: "shoulder";
    padding-bottom: 2vh;
    color: #FDC700;
}
.img-section{
    background: linear-gradient(#22415b,#162d40,#0a2032,#06121c);
    height: 90%;
    width: 100%;
    column-width: 300px;
    padding: 0 1vw;
}
.glry-imgs{
    width: 100%;
}
img{
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 10px #1d1d1dcc;
}