* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "shoulder";
  src: url(/asset/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
@media (max-width: 600px) {
  .call-logo {
    top: 75% !important;
  }
  .whatsapp-logo {
    top: 75% !important;
    left: 82% !important;
  }
  nav {
    height: 80px !important;
  }
  .leftside-nav {
    width: 30% !important;
  }
  .logo {
    width: 100% !important;
  }
  .img-logo {
    scale: 1.4;
    object-position: center;
  }
  .tags {
    display: none;
  }
  .menubar {
    visibility: visible !important;
    padding-right: 4vh !important;
  }
  #herosection {
    flex-direction: column;
    height: 80vh !important;
  }
  .left-side-hero {
    flex-direction: column;
    width: 100% !important;
  }
  .heading-hero {
    top: 25% !important;
    width: 99% !important;
    font-size: 1.8rem !important;
    text-align: center !important;
    padding: 1vh 1vw !important;
  }
  .para-hero {
    width: 98% !important;
    font-size: 1.125rem !important;
    top: 50% !important;
  }
  .btn-hero {
    background-color: #004f56 !important;
    color: white !important;
    top: 75% !important;
  }
  .right-side-hero {
    display: none;
  }
  #services-section {
    height: 315vh !important;
  }
  .top-service-section {
    height: 13vh !important;
    padding-bottom: 3vh !important;
  }
  .bottom-service-section {
    height: 385vh !important;
  }
  .top-section-srvc-section {
    flex-direction: column !important;
    width: 90% !important;
  }
  .section-srvc-sctn {
    width: 100% !important;
    height: 60vh !important;
  }
  .sctn-1-srvc {
    height: 55% !important;
    width: 90% !important;
  }
  .sctn-2-srvc {
    height: 40% !important;
    padding-top: 3vh;
  }
  .hdng-srvc-sctn {
    font-size: 2rem !important;
  }
  .srvc-sctn-btn {
    font-size: 1.375rem !important;
    width: 95% !important;
  }
  .bottom-section-srvc-section {
    flex-direction: column;
    width: 90% !important;
  }
  .section-botm-srvc-sctn {
    height: 60vh !important;
    width: 100% !important;
    flex-direction: column;
  }
  .srvc-sctn-img {
    height: 55% !important;
    width: 90% !important;
  }
  .cntn-sctn-srvc {
    height: 40% !important;
    padding-top: 3vh;
    width: 100% !important;
  }
  .srvc-sctn-hdng {
    font-size: 2rem !important;
  }
  .srvc-sctn-btn-bottom {
    font-size: 1.375rem !important;
    width: 95% !important;
  }
  #aboutus-section-prt-1 {
    height: 200vh !important;
  }
  .top-section-about {
    margin-top: 0vh !important;
  }
  .hdng-about-top {
    width: 96% !important;
    font-size: 1.8rem !important;
  }
  .para-about-top {
    width: 96% !important;
    font-size: 1.125rem !important;
  }
  .elemnts-about-top {
    flex-direction: column;
    gap: 2vh !important;
    height: 30vh !important;
  }
  .elmts-about-top {
    width: 95% !important ;
    height: 85% !important;
  }
  .elmt-hdng {
    width: 99% !important;
    font-size: 1.5rem !important;
  }
  .para-div-elmt {
    width: 99% !important;
    font-size: 0.938rem !important;
  }
  .bottom-section-about {
    height: 120vh !important;
  }
  .about-ase {
    width: 98% !important;
  }
  .content-about-ase {
    flex-direction: column;
    padding: 3vh 0 0 0 !important;
  }
  .about-us-img {
    width: 92% !important;
  }
  .para-about-ase {
    width: 95% !important;
    margin-bottom: 2vh !important;
  }
  .aboutus-section-prt-2 {
    height: 204vh !important;
  }
  .top-about-sctn-prt-2 {
    height: 18vh !important;
  }
  .prt-2-about-hdng {
    width: 96% !important;
    margin-top: 2vh !important;
  }
  .prt-2-about-para {
    width: 95% !important;
    font-size: 1.25rem !important;
  }
  .middle-about-sctn-prt-2 {
    flex-direction: column;
    padding: 3vh 2vw !important;
    height: 180vh !important;
  }
  .content-slider-about-prt-2 {
    width: 95% !important;
    height: 58vh !important ;
  }
  .choose-us-hdng {
    font-size: 2rem !important;
    width: 98% !important;
  }
  .choose-us-para {
    font-size: 1.25rem !important;
    width: 98% !important;
  }
  #contact-us {
    height: 110vh !important;
  }
  .lwr-prt-cntc-us {
    flex-direction: column;
    height: 90vh !important;
  }
  .right-side-cntc {
    width: 95% !important;
    height: 60% !important;
  }
  .left-side-cntc {
    width: 98% !important;
    height: 40% !important;
  }
  .upr-lft-cntc {
    width: 98% !important;
    height: 50% !important;
  }
  .upr-lft-cntc > a {
    gap: 2vw !important;
  }
  .lwr-lft-cntc {
    width: 98% !important;
    margin-top: 1vh !important;
  }
  .cntc-icon {
    background-color: #e9eaea;
    box-shadow: 3px 3px 5px #2b2b2b, -3px -3px 5px #ccccccc6;
    scale: 0.75;
  }
  #insta > i {
    color: #f10185;
  }
  #face > i {
    background-color: #e9eaea;
    color: #0866ff;
  }
  #whatsapp > i {
    color: #49c25b;
  }
  #gml > i {
    color: #c5221f;
  }
  #lctn > i {
    color: #1772e8;
  }
  .footer{
    height: 100vh !important;
  }
  .upr-ftr-prt{
    height: 80vh !important;
    flex-direction: column;
    width: 98% !important;
  }
  .cpyrt-cntnr{
    padding: 0vh 1vw !important;
  }
  .cpyrt{
    width: 98% !important;
    text-align: center !important;

    font-size: 1rem;
  }
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
  font-family: "shoulder";
}
::-webkit-scrollbar {
  width: 0;
}
.main {
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
  position: relative;
  overflow-x: hidden;
}
.call-logo {
  position: fixed;
  z-index: 9999;
  height: 50px;
  width: 50px;
  top: 85%;
  background-color: #2373b6;
  left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.call-logo > i {
  font-size: 1.7rem;
  color: white;
}
.whatsapp-logo {
  position: fixed;
  z-index: 9999;
  height: 50px;
  width: 50px;
  top: 85%;
  background: white;
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
}
.whatsapp-logo > i {
  object-fit: cover;
  font-size: 3rem;
  color: #49c25b;
  border-radius: 50px;
}
.menubar-slide {
  height: 80vh;
  width: 15%;
  border: 1px solid black;
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  gap: 8vh;
  top: 0%;
  right: -50%;
}
.menubar-slide a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "shoulder";
}
.menubar-slide > i {
  font-size: 1.5rem;
  top: 1%;
  right: 10%;
  position: absolute;
}
nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  box-shadow: 0px 3px 8px #333333;
  background-color: white;
}
.leftside-nav {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 46%;
}

.rightside-nav {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.anchor-tags {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5vw;
}
.tags {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "shoulder";
  position: relative;
  border-radius: 3px;
  padding: 0.5vh 0.5vw;
  overflow: hidden;
}
.tags::before {
  content: "";
  position: absolute;
  background-color: #004f56;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}
.tags:hover {
  color: white;
  transition: 0.5s;
}
.tags:hover::before {
  width: 100%;
}
.menubar {
  visibility: hidden;
}
#herosection {
  height: 100vh;
  width: 100vw;
  background-image: url(/asset/hero-bg.webp);
  object-fit: contain;
  position: relative;
  display: flex;
}
.overlay-hero {
  height: 100%;
  width: 100%;
  background-color: #3c3c3c37;
  display: flex;
  position: absolute;
  backdrop-filter: blur(1.3px);
  z-index: 0;
}
.left-side-hero {
  height: 100%;
  width: 60%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-hero {
  font-size: 2.3rem;
  text-align: center;
  font-family: "shoulder";
  font-weight: 900;
  color: #2373b6;
  position: absolute;
  top: 30%;
  z-index: 2;
  padding: 2vh 0.5vw;
  width: 50%;
}
.para-hero {
  width: 50%;
  font-size: 1.394rem;
  font-weight: 600;
  font-family: "shoulder";
  text-align: center;
  color: #2f2f2f;
  position: absolute;
  top: 55%;
  z-index: 2;
}
.btn-hero {
  height: 55px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  gap: 0.5vw;
  font-weight: 600;
  font-family: "shoulder";
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  top: 78%;
  padding: 1vh 1vw;
  cursor: pointer;
  transition: 0.4s;
  z-index: 2;
  overflow: hidden;
}
.btn-hero::before {
  content: "";
  position: absolute;
  background-color: #004f56;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  transition: 0.6s;
  z-index: -1;
}
.btn-hero:hover::before {
  width: 100%;
}
.btn-hero:hover {
  color: white;
  transition: 0.5s;
  border: none;
}
.btn-hero > i {
  font-size: 1.2rem;
}
.right-side-hero {
  height: 100%;
  width: 40%;
  z-index: 2;
  position: relative;
}
.right-side-hero-img {
  object-fit: cover;
  position: absolute;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.683),
    -3px -3px 8px rgba(0, 0, 0, 0.681);
}
#img-1 {
  top: 15%;
  left: 5%;
  height: 220px;
  width: 220px;
}
#img-2 {
  top: 40%;
  left: 50%;
  height: 220px;
  width: 220px;
}
#img-3 {
  top: 60%;
  left: 5%;
  height: 220px;
  width: 220px;
}
#services-section {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-service-section {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hdng-service {
  width: 90%;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "shoulder";
  text-align: center;
  color: #2373b6;
}
.bottom-service-section {
  height: 84%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.top-section-srvc-section {
  height: 58%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
.section-srvc-sctn {
  background-color: #2373b6;
  height: 100%;
  width: 30%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 3px 3px 5px #000000a7, -3px -3px 5px #000000a7;
  gap: 3vh;
}
.sctn-1-srvc {
  height: 65%;
  width: 98%;
}
.sctn-img {
  border-radius: 7px;
  object-fit: cover;
  height: 98%;
  width: 100%;
}
#rental-img {
  object-position: top;
}
.sctn-2-srvc {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
}
.hdng-srvc-sctn {
  text-align: center;
  width: 90%;
  font-size: 1.7rem;
  color: #fdc700;
}
.srvc-sctn-btn {
  text-align: center;
  width: 98%;
  color: white;
}
.bottom-section-srvc-section {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7vh;
}
.section-botm-srvc-sctn {
  background-color: #2373b6;
  border-radius: 5px;
  height: 100%;
  width: 45.5%;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 5px #000000a7, -3px -3px 5px #000000a7;
}
.srvc-sctn-img {
  height: 98%;
  width: 59%;
}
.img-srvc {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.cntn-sctn-srvc {
  height: 100%;
  width: 49%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}
.srvc-sctn-hdng {
  width: 98%;
  text-align: center;
  font-size: 1.7rem;
  color: #fdc700;
}
.srvc-sctn-btn-bottom {
  width: 98%;
  text-align: center;
  color: white;
}
#aboutus-section-prt-1 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4vh 0 0 0;
}
.top-section-about {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
}
.hdng-about-top {
  width: 60%;
  font-size: 2rem;
  font-family: "shoulder";
  color: #2373b6;
  padding: 2vh 0;
  text-align: center;
}
.para-about-top {
  width: 59%;
  text-align: center;
  font-size: 1rem;
  font-family: "shoulder";
}
.elemnts-about-top {
  height: calc(100% - 3rem);
  width: 100%;
  margin: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.elmts-about-top {
  height: 100%;
  width: 48%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2373b6;
  box-shadow: 1px 1px 3px #0000008a, -1px -1px 3px #00000093;
  border: 0.5px solid;
}
.elmt-hdng {
  width: 60%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "shoulder";
  color: #fdc700;
}
.para-div-elmt {
  width: 98%;
  text-align: center;
  font-size: 1rem;
  padding: 1vh 0;
  font-family: "shoulder";
  color: white;
}
.bottom-section-about {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2vh 0 0 0;
}
.about-ase {
  width: 60%;
  font-size: 2rem;
  font-family: "shoulder";
  text-align: center;
  color: #2373b6;
}
.content-about-ase {
  height: calc(100% - 2rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
.about-us-img {
  box-shadow: 3px 3px 5px #000000a7, -3px -3px 5px #000000a7;
  width: 25%;
  object-fit: cover;
  height: 80%;
}
.para-about-ase {
  width: 55%;
  font-size: 1.2rem;
  text-align: center;
  font-family: "shoulder";
}
.aboutus-section-prt-2 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}
.top-about-sctn-prt-2 {
  width: 90%;
  height: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.prt-2-about-hdng {
  width: 60%;
  text-align: center;
  font-size: 2rem;
  font-family: "shoulder";
  color: #2373b6;
}
.prt-2-about-para {
  width: 60%;
  text-align: center;
  font-family: "shoulder";
  padding: 2vh 0;
}

.middle-about-sctn-prt-2 {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2vh;
  padding: 2vh 2vw;
}
.content-slider-about-prt-2 {
  height: 100%;
  width: 33%;
  border: 0.5px solid black;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  gap: 3vh;
  padding: 5vh 0;
  background-color: #2373b6;
  box-shadow: 1px 1px 3px #0000008a, -1px -1px 3px #00000093;
}
.img-choose-us {
  height: 60%;
  width: 95%;
  border: 1px solid black;
}
.img-choose-us > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.choose-us-hdng {
  width: 80%;
  font-size: 1.7rem;
  text-align: center;
  color: #fdc700;
  font-family: "shoulder";
}
.choose-us-para {
  width: 90%;
  text-align: center;
  line-height: 3vh;
  color: white;
  font-family: "shoulder";
}
#contact-us {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.upr-prt-cntc-us {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hdng-cntc-us {
  width: 98%;
  font-size: 2rem;
  text-align: center;
  color: #2373b6;
}
.lwr-prt-cntc-us {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
.right-side-cntc {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-container {
  height: 95%;
  width: 95%;
  border: 1px solid black;
}
.map-container > iframe {
  height: 100%;
  width: 100%;
}
.left-side-cntc {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.upr-lft-cntc {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}
.upr-lft-cntc > a {
  display: flex;
  align-items: center;
  gap: 1vw;
  text-decoration: none;
}
.cntc-lctn {
  color: black;
  font-family: "shoulder";
  font-size: 1.125rem;
}
.cntc-gml {
  color: black;
  font-family: "shoulder";
  font-size: 1.125rem;
}
.cntc-gml:hover {
  color: #6f1a8b;
  transition: 0.5s;
}
.cntc-gml:hover > i {
  color: black;
}
.cntc-mobile {
  color: black;
  font-size: 1.125rem;
  font-family: "shoulder";
}
.cntc-mobile:hover {
  color: #6f1a8b;
}
.cntc-mobile:hover > i {
  color: black;
}
.cntc-mobile > i {
  font-size: 1.8rem;
}

.cntc-gml > i {
  font-size: 2.1rem;
}
.cntc-lctn > i {
  font-size: 2.1rem;
}

.lwr-lft-cntc {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cntc-icons {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cntc-icon {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
}
.cntc-icon:hover {
  background-color: #e9eaea;
  box-shadow: 3px 3px 5px #2b2b2b, -3px -3px 5px #ccccccc6;
  transition: 0.5s;
}
.cntc-icon:hover > i {
  scale: 0.9;
  transition: 0.5s;
}
#insta:hover > i {
  color: #f10185;
}
#face:hover > i {
  background-color: white;
  color: #0866ff;
}
#whatsapp:hover > i {
  color: #49c25b;
}
#gml:hover > i {
  color: #c5221f;
}
#lctn:hover > i {
  color: #1772e8;
}
.cntc-icon > i {
  font-size: 2.2rem;
  color: black;
}
footer {
  height: 60vh;
  width: 100%;
  background-color: #101828;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
.upr-ftr-prt {
  height: 80%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lft-prt-ftr {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
}
.ftr-srvc-hdng {
  font-size: 1.25rem;
  color: white;
  font-family: "shoulder";
}
.ftr-srvc-anchr {
  font-size: 1.125rem;
  color: white;
  font-family: "shoulder";
  text-decoration: none;
}
.rght-prt-ftr {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4vh;
}
.rght-ftr-link-hdng {
  color: white;
  font-size: 1.25rem;
  font-family: "shoulder";
}
.rght-ftr-link-anchr {
  color: white;
  font-size: 1.125rem;
  font-family: "shoulder";
  text-decoration: none;
}
.rght-ftr-link-anchr:hover {
  color: #6f1a8b;
  transition: 0.4s;
}
.lwr-ftr-prt {
  height: 15%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.cpyrt-cntnr {
  height: 45%;
  width: 100%;
  display: flex;

  justify-content: center;
  gap: 1vw;
}
.cpyrt-cntnr > i {
  color: white;
  font-size: 1.25rem;
}
.cpyrt {
  font-size: 1rem;
  color: white;
  font-family: "shoulder";
}

.mdby-cntnr {
  height: 45%;
  width: 100%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mdby {
  font-size: 1rem;
  color: white;
  font-family: "shoulder";
}
