*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}
.bars{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 0.3em;
}
.lines {
    height: 0;
    width: 100%;
    border: 1.5px solid black;
}
#tri{
    width: 60%;
}
.triangle{
    width: 0;
    height: 0;
    border-left:4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
}